@import "global.css";
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth {
  width: 350px;
  margin-bottom: 10px;
  border: 1px solid rgb(205, 205, 205);
  padding: 30px;
  background-color: var(--pale-color);
}
.auth-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-signin.hidden,
.auth-signout.hidden {
  display: none;
}

.auth__btn {
  background-color: white;
  margin-top: 10px;
  width: 100px;
  text-align: center;
  padding: 4px 0;
  border: 1px solid var(--light-color);
  box-shadow: 1px 1px 8px rgba(119, 119, 119, 0.47);
  border-radius: 8px;
}
.auth__error {
  color: red;
  margin-top: 20px;
}
.help-icon {
  margin: 15px 0 0 7px;
  font-size: 0.8em;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 4px;
  text-align: start;
  cursor: pointer;
}

.auth__password {
  margin-top: 10px;
}

@media (max-width: 400px) {
  .auth {
    width: 250px;
  }
}
