.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* posts */
.post{
    border: 1px solid #ecc2fd72;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: rgba(242, 242, 242, 0.548);
    padding: 10px;
    max-width: 700px;
    margin: 35px 0;
}
.post__header {
 background-color: #FFFFFF;
 border-radius: 10px;
 position: relative;
 padding: 10px;
}
.post__btn{
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
    box-shadow: none;
}
.post__content{
    padding: 10px;
}
/* create a post form */

.post__form-input {
    width: 100%;
    min-height: 120px;
    resize: vertical;
}
