@import "global.css";

.footer {
  background-color: var(--primary-color);
  padding: 15px;
  box-shadow: 0 0 8px black;
}

.footer__nav{
  display: flex;
  justify-content: space-around;
  color: var(--pale-color);
  font-size: 0.9em;
}