@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #af69ee;
  --secondary-color: #a088b1;
  --tertiary-color: #e03761;
  --light-color: #d5cabd;
  --pale-color: #fff6ff;
}

body {
  font-family: "Inter";
}

/* main {
  padding: 20px;
} */
button {
  cursor: pointer;
}
