@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #af69ee;
  --secondary-color: #d97ffd;
  --tertiary-color: #e03761;
  --secondary-color-light: #e7b2fc;
  --light-color: #d5cabd;
  --pale-color: #fff6ff;
  --light-grey: #f2f2f28c;
  --light-grey-background: #f7f7f7;
  --border-color: #ecc2fd72;
}

body {
  font-family: "Inter";
   background-color: var(--pale-color);
}
main {
  padding: 0 15px;
}

button {
  cursor: pointer;
}
