@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "global.css";
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

.header {
  background-color: var(--primary-color);
  color: var(--pale-color);
  padding: 15px;
  box-shadow: 0 0 8px black;
  z-index: 10;
  position: sticky;
  width: 100%;
  top: 0;
}
.header__items {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-size: 2em;
  font-weight: 600;
  font-family: "Chilanka";
  margin-top: 5px;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.27);
}
.header__profile-section {
  /* display: inline-block; */
  gap: 20px;
  position: relative;
}
.header__profile-logout-btn {
  border: 1px solid var(--light-color);
  box-shadow: 1px 1px 8px rgba(119, 119, 119, 0.47);
  border-radius: 8px;
  padding: 2px 6px;
  background-color: var(--pale-color);
  color: black;
  font-size: 0.8em;
}
.header__profile-picture {
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.333);
}
.header__auth-btn {
  width: 80px;
  text-align: center;
  padding: 3px 0;
  color: black;
  font-weight: 600;
  font-size: 0.9em;
  border: 1px solid var(--light-color);
  box-shadow: 1px 1px 8px rgba(119, 119, 119, 0.47);
  border-radius: 8px;
}
.header__auth-section {
  display: flex;
  gap: 20px;
}
.header__auth-btn--in {
  background-color: white;
}

.header__auth-btn--up {
  background-color: var(--tertiary-color);
  border: 1px solid black;
  color: white;
}
/* Popover */
.profile-btn {
  anchor-name: --profile-button;
}

.header__popover{
  margin-top: 40px;
  background-color: var(--pale-color);
  border-radius: 15px 0 0 15px;
  inset: 0;
  padding: 15px;
  border: none;
  box-shadow: 2px -2px 15px rgba(0, 0, 0, 0.467);

  position: absolute;
  position-anchor: --profile-button;
  position-area: bottom;
}
.header__popover:popover-open{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}


@media (max-width: 400px) {
  .header__auth-btn {
    width: 70px;
    font-weight: 600;
    font-size: 0.8em;
  }
}