@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "global.css";
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

.header {
  background-color: var(--primary-color);
  color: var(--pale-color);
  height: 70px;
  z-index: 10;
  position: sticky;
  width: 100%;
  top: 0;
}
.header__items {
  height: 100%;
  margin: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 2em;
  font-weight: 600;
  font-family: "Chilanka";
  margin-top: 5px;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.27);
}
.header__profile-picture-container {
  position: relative;
  line-height: 0;
  margin-left: 15px;

}

.header__profile-picture {
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.333);
  width: 50px;
  border:  1px solid var(--pale-color);
}
.header__auth-btn {
  width: 80px;
  text-align: center;
  padding: 3px 0;
  color: black;
  font-weight: 600;
  font-size: 0.9em;
  border: 1px solid white;
  box-shadow: 1px 1px 8px rgba(119, 119, 119, 0.47);
  border-radius: 8px;
}
.header__auth-section {
  display: flex;
  gap: 20px;
}
.header__auth-btn--in {
  background-color: white;
}

.header__auth-btn--up {
  background-color: var(--tertiary-color);
  border: 1px solid black;
  color: white;
}

.header__nav{
  display: flex;
  align-items: center;
  /* gap: 10px; */
}
.header__nav-container{
   padding: 15px;
}
.header__nav-container:hover{
  background-color: var(--secondary-color);
}
.header__nav-container.active{
  background-color: var(--secondary-color);
}
.header__icon {
  width: 40px;
   fill: var(--pale-color);
   /* padding: 70px 20px; */
}

/* Popover */
.profile-btn {
  anchor-name: --profile-button;
}

.header__popover{
  margin: 10px -1px 0 0;
  background-color: var(--secondary-color);
  border-radius: 0 0 0 15px;
  inset: 0;
  padding: 15px 10px;
  border: 1px solid var(--primary-color);
  border-top: 1px solid var(--secondary-color);


  position: absolute;
  position-anchor: --profile-button;
  position-area: bottom;
}
.popover__ul{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}
.popover__item{
  font-weight: 600;
  font-size: 1em;
  padding: 8px;
}
.popover__li{
  min-width: 160px;
  text-align: end;
  padding: 10px;
  background-color: var(--pale-color);
  border-radius: 10px;

}
.popover__li:hover{
    background-color: rgba(249, 223, 253, 0.985);
    /* color: var(--pale-color); */
}
.popover__username{
  font-weight: 700;
  font-size: 1.1em;
}


@media (max-width: 400px) {
  .header__auth-btn {
    width: 70px;
    font-weight: 600;
    font-size: 0.8em;
  }
}