@import "global.css";

.feed {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.feed__title {
  margin: 20px;
}

.post-details__section {
  padding: 50px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* posts card */
.post {
  border: 1px solid var(--border-color);
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 15px;
  background-color: #fcfcfc;
  width: 100%;
  max-width: 700px;
  margin: 15px;
  overflow: hidden;
}
.post__header {
  background-color: var(--light-grey);
  position: relative;
  padding: 10px;
}

.post__btn {
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
  padding: 15px;
}
.post__username {
  font-size: 1.4em;
  margin-bottom: 5px;
  display: inline-block;
}
.post__time {
  font-size: 0.8em;
}
.post__content {
  z-index: 10;
  padding: 20px 10px;
  box-shadow:
    rgba(234, 28, 224, 0.074) 0px 4px 6px -1px,
    rgba(215, 215, 215, 0.06) 0px 2px 4px -1px;
}

.post__footer {
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.post__like,
.post__comment {
  width: 20px;
  padding: 5px 10px;
}
.post__like-icon {
  fill: var(--primary-color);
}
/* create a post form */
.post__create {
  border: 1px solid var(--border-color);
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 15px;
  background-color: #fcfcfc;
  padding: 10px;
  width: 100%;
  max-width: 700px;
  margin: 15px 0;
  transition: 0.2s ease-in-out;
}
.post__create:focus-within {
  background-color: var(--pale-color);
  transform: scale(1.02);
    box-shadow:
    rgba(51, 51, 96, 0.44) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.528) 0px 1px 3px -1px;
}

.post__form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.post__form-title {
  padding: 0 0 10px 2px;
  font-weight: 700;
  font-size: 1.2em;
}
.post__form-textarea {
  margin: 10px 0;
  border-radius: 15px;
  padding: 10px;
  min-height: 100px;
  resize: none;
  field-sizing: content;

}
.post__form-textarea:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(242, 0, 255, 0.344);
}
.post__form-btn {
  border-radius: 8px;
  color: var(--pale-color);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  font-weight: 700;
  margin: 10px 0 0 0;
  padding: 8px;
  text-align: center;
  border: 1px solid var(--border-color);
  background-color: #d97ffd;
  box-shadow: 0 0 15px rgba(116, 116, 116, 0.322);
}

.post__form-btn:disabled {
  background-color: var(--secondary-color-light);
  cursor: not-allowed;
}



/* Edit / Modify post */
.post__btn {
  anchor-name: --actions-button;
}
.post__actions-popover {
  /* inset: 0; */
  border: 1px solid var(--border-color);
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 15px;
  background-color: #fcfcfc;
  overflow: hidden;

  position: absolute;
  position-anchor: --actions-button;
  position-area: bottom;
}
.post__action {
  padding: 5px 10px;
  width: 100%;
}
.post__action:hover {
  background-color: var(--pale-color);
}

/* errors */

.post__error, .edit-comment__error {
  color: var(--primary-color);
}
.comment__error {
    color: var(--primary-color);
    padding: 0 15px 10px 15px;
}

/* Modals */

dialog::backdrop {
  background-color: #39004f97;
}
dialog {
  border: 1px solid var(--border-color);
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 15px;
  background-color: #fcfcfc;
  padding-top: 20px;
}
.dialog__options {
  display: flex;
  padding: 10px;
  justify-content: center;
  margin-top: 15px;
  gap: 15px;
}
.dialog__option {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}
.dialog__option--cancel {
  background-color: var(--secondary-color);
  color: white;
}
.dialog__option--delete {
  border: 1px solid var(--secondary-color-light);
}

.dialog__option:hover {
  background-color: var(--secondary-color-light);
}
.dialog__action {
  width: 100%;
  padding: 15px;
  text-align: center;
}
.dialog__edit {
  /* position: relative; */
  max-width: 600px;
  width: 98%;
}
.dialog__close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 7px 12px;
  /* border: 1px solid black; */
  background-color: var(--pale-color);
  border-radius: 50%;
}
.dialog__close-btn:hover {
  background-color: var(--secondary-color-light);
}



/* *********** */
/* Comment */
/* *********** */

/* Comment form */


.comment__form {
  display: flex;
  align-items: end;
  padding: 10px 15px;
  gap: 15px;
  margin-bottom: 5px;
}
.comment__form:disabled{
  background-color: var(--secondary-color-light);
  cursor: not-allowed;
}

.comment__edit-form {
  display: flex;
  flex-direction: column;
  padding: 4px 0px;
  gap: 15px;
}

.comment__form-textarea {

  border-radius: 15px;
  padding: 10px;
  min-height: 40px;
  resize: none;
  field-sizing: content;
  flex-grow: 1;

}
.comment__form-textarea:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(242, 0, 255, 0.344);
}
.comment__form-btn {
  flex-shrink: 0;
  flex-grow: 0;
  height: 42px;
    width:42px;
  border-radius: 8px;
  color: var(--pale-color);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  background-color: #d97ffd;
  box-shadow: 0 0 15px rgba(116, 116, 116, 0.322);
}
.comment__form-btn--update{
  flex-grow: 0;
  height: auto;
  width: auto;
  padding: 8px 10px; 
}

.comment__form-btn:disabled {
  background-color: var(--secondary-color-light);
  cursor: not-allowed;
}

.comment__form-icon {
  opacity: 0.8;
  width: 20px;
  color: white;
}

/* comment body */

.comment {
  display: flex;
  border-top: 3px solid var(--pale-color);
  padding: 10px;
}
.comment__contents {
  flex-grow: 1;
}
.comment__details{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}
.comment__photo-container{
  padding: 3px 12px 0 0;
  flex-shrink: 0;
}
.comment__photo {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.comment__username{
  font-size: 1em;
}

.comment__controls{
  flex-shrink: 0;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  align-items: end;
}

.comment__actions-container{
  border-radius: 50px;
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment__actions-container:hover{
  background-color: var(--pale-color);
}
.comment__actions{
 padding-bottom: 7px;
}
.comment__like-system{
  display: flex;
  align-items: center;
  font-weight: 200;
  line-height: 0;
}
.comment__like {
    width: 18px;
    padding: 0 2px 0 5px;
}
.comment__time {
  font-size: 0.8em;
  font-weight: 200;
}


.comment__btn {
  anchor-name: --comment-actions-button;
}
.comment__actions-popover {
  border: 1px solid var(--border-color);
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 15px;
  background-color: #fcfcfc;
   overflow: hidden;

  position: absolute;
  position-anchor: --comment-actions-button;
  position-area: bottom;
}
.comment__action {
  padding: 5px 10px;
  width: 100%;
 
}
.comment__action:hover {
  background-color: var(--pale-color);
}
.comment__form-title {
  padding: 0 0 7px 2px;
  font-weight: 700;
  font-size: 1.2em;
}

.js-like-comment-form{
   line-height: 0;
}

/* Animations */

.like-animation {
    animation: like-pop 250ms ease;
}

@keyframes like-pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}


/* return btn */

.post__return-btn{
  width: 40px;
  fill: var(--primary-color);
  margin-bottom: 10px;
}