.settings {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;
}
.settings__title{
    font-size: 2em;
}
.settings__separator{
    margin: 20px 0;
    width: 70%;
    border: none;
    height: 2px;
    background-color: rgba(198, 198, 198, 0.703);
}
.form__title{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 20px;
}

.form__save-btn{
    background-color: var(--secondary-color-light);
    padding: 5px 17px;
    border-radius: 10px;
    font-size: 0.9em;
    margin: 20px 0;
    align-self: flex-start;
}
.form__save-btn:hover{
    background-color: var(--secondary-color);
}
.form__errors{
    color: var(--tertiary-color);
}
.form__success{
    color: rgb(4, 172, 4);
}
.form__input {
    width: 40%;
    margin-bottom: 5px;
}
.updateForm{
    display: flex;
    flex-direction: column;
    gap: 8px;
}



/* Profile Picture */

.picture-form{
    position: relative;
}
.picture-form__inputs{
    display: flex;
    align-items: end;
    gap: 30px;
    padding: 20px 0;
}
.picture-form__image-container{
    position: relative;
}
.picture-form__image{
    object-fit: cover;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--secondary-color-light);
}
.picture-form__icon{
    position: absolute;
    top: 0;
    opacity: 0.4;

}
.picture-form__file-input{
    display: none;
}

.picture-form__rules{
    font-size: 0.8em;
    display: block;
}



/* User details */
