.settings {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;
}
.settings__title{
    font-size: 2em;
}
.settings__separator{
    margin: 20px 0;
    width: 70%;
    border: none;
    height: 2px;
    background-color: rgba(198, 198, 198, 0.703);
}
.form__title{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 20px;
}

.form__save-btn, .form__cancel{
    background-color: var(--secondary-color-light);
    padding: 5px 17px;
    border-radius: 10px;
    font-size: 0.9em;
    margin: 20px 0;
    align-self: flex-start;
}
.form__save-btn:hover{
    background-color: var(--secondary-color);
}
.form__errors,.form__warning{
    color: var(--tertiary-color);
}
.form__success{
    color: rgb(4, 172, 4);
}
.form__input {
    width: 40%;
    margin-bottom: 5px;
}
.updateForm, .deleteDialog{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form__warning-btn{
    background-color: var(--tertiary-color);
    color: #f2f2f2;
    padding: 5px 17px;
    border-radius: 10px;
    flex: 0 0 auto;
    margin-top: 20px;
}
.form__warning-btn:hover{
    background-color: var(--tertiary-color-dark);
}



/* Profile Picture */

.picture-form{
    position: relative;
}
.picture-form__inputs{
    display: flex;
    align-items: end;
    gap: 30px;
    padding: 20px 0;
}
.picture-form__image-container{
    position: relative;
}
.picture-form__image{
    object-fit: cover;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--secondary-color-light);
}
.picture-form__icon{
    position: absolute;
    top: 0;
    opacity: 0.4;

}
.picture-form__file-input{
    display: none;
}

.picture-form__rules{
    font-size: 0.8em;
    display: block;
}



/* Delete Account */
.deleteAccountModal{
    border: 1px solid var(--border-color);
    box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
    background-color: #fcfcfc;
    padding: 18px 20px;
}
.deleteAccountModal__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form__input--password-check{
    min-width: 160px;
}
dialog::backdrop {
  background-color: #39004f97;
}
.deleteDialog__confirmation {
    display: flex;
    align-items: center;
    gap: 8px;
}

.deleteDialog__comfirmation-checkbox{
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid black;
    flex-shrink: 0;
}
.deleteDialog__comfirmation-checkbox:checked {
    background-color: var(--tertiary-color);
    box-shadow: inset 0 0 0 4px white;
}
.deleteDialog__comfirmation-text{
    font-size: 0.9em;
    color: var(--tertiary-color);
}

.deleteDialog__btns{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: bottom;
}
.form__cancel--dialog{
    margin: 0;
}
.form__warning-btn--dialog{
    margin: 0;
}
@media screen and (max-width: 500px) {
    .settings {
        padding: 0 15px;
    }
    
}