
RewriteEngine On

# Deactivate showing folders

Options -Indexes

# Block sensitive files

<FilesMatch "\.(env|ini|log|sql|config)$">
    Require all denied
</FilesMatch>

# Routing

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^ index.php [QSA,L]